/* Contact Us section */
.section-cta {
  padding: 9.6rem 0;
}
.cta-text-box-contact {
  padding: 4.8rem 6.4rem;
  color: #28133abd;
  font-size: 1.6rem;
}
.cta .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
  font-size: 2.6rem;
  text-align: center;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
.cta-form {
  display: grid;
  grid-template-columns: 2fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select,
.cta-form textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.4rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #42235e4d;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.cta-form input::placeholder,
.cta-form textarea::placeholder
{
  color: #ffffff8a;
}
.cta-form textarea {
  color: #fff;
}
.cta-form select {
  color: #ffffff8a;
}
}
.cta-form button {
}
.btn-contact {
  font-family: inherit;
  background-color: #28133abd;
  /* align-self: inherit; */
  padding: 1.2rem;
  font-size: 1.4rem;
  margin-top: 1rem;
}
