/* MOBILE NAVIGATION */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
}
.close-menu[name="close-menu"] {
  display: none;
}
/*==================================================
			Main Header style
===================================================*/
.main-header {
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 999;
  width: 100%;
}

.main-header .header-top {
  position: relative;
}

.main-header .header-top .top-left {
  position: relative;
  float: left;
  padding: 10px 0px 9px;
}
.header-top {
  background-color: #efefef; /*#f5f5f5*/
}

.header-top .links {
  position: relative;
  top: 2px;
  float: left;
  display: inline-block;
}

.header-top .links .follow-us {
  position: relative;
  color: #222222;
  font-size: 18px;
  line-height: 20px;
  line-height: normal;
  letter-spacing: -0.1px;
  font-weight: 600;
  font-family: "Courgette", cursive;
}

/*Social Icons*/
.header-top .social-icon {
  position: relative;
  float: left;
}

.header-top .social-icon li {
  position: relative;
  float: left;
  margin-left: 15px;
}

.header-top .social-icon li a {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 30px;
  color: #222222;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.header-top .social-icon li a:hover {
  color: #ffffff;
}

/*=== Top Right ===*/
.main-header .header-top .top-right {
  position: relative;
  float: right;
}

.main-header .header-top .contact {
  position: relative;
  float: right;
  padding: 15px 0px 14px;
}

.main-header .header-top .contact li {
  position: relative;
  float: left;
  font-size: 16px;
  line-height: 20px;
  margin-right: 80px;
  color: #222222;
}

.main-header .header-top .contact li > span {
  font-family: "Courgette", cursive;
  font-weight: 600;
}

.main-header .header-top .contact li:last-child {
  margin-right: 0;
}

.main-header .header-top .contact li a {
  padding: 18px 25px;
  background: #ffffff; /* Member Login Box on top of pge - not in use*/
  font-size: 14px;
  line-height: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #999;
  font-family: "Arimo", sans-serif;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.main-header .header-top .contact li a:hover {
  background: #000000;
  color: #ffffff;
}

/*Main Box*/
.main-header .header-upper {
  position: relative; /*Logo Header BG*/
  z-index: 5;
  /*background-color:#f8f8f8;*/
  background: url("../images/header_background.png") no-repeat center center;
}

.main-header .logo-outer {
  position: relative;
  z-index: 25;
  padding: 15px 0px;
}

.main-header .header-upper .logo img {
  position: relative;
  max-width: 100%;
}

.main-header .header-upper .upper-right {
  position: relative;
  padding-top: 35px;
}

.main-header .info-box {
  position: relative;
  float: left;
  min-height: 56px;
  margin-left: 60px;
}

.main-header .info-box:last-child {
  padding-left: 0px;
}

.main-header .info-box .icon-box {
  position: relative;
  float: left;
  font-size: 26px;
  color: #562973;
  line-height: 28px;
  margin-right: 8px;
}

.main-header .info-box li {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

.main-header .info-box strong {
  position: relative;
  font-size: 24px;
  color: #222222;
  line-height: 28px;
  margin-bottom: 5px;
  margin-left: 2px;
  font-weight: 700;
  font-family: "Courgette", cursive;
}

/*====================================================================
					 Main Menu 
=====================================================================*/

.main-header .header-lower {
  position: relative;
  top: 0px;
  width: 100%;
  z-index: 5;
  background-color: #643482;
  border-bottom: 1px solid #562973;
  border-top: 1px solid #562973;
}

.main-header .nav-outer {
  position: relative;
}

.main-menu {
  position: relative;
  float: left;
}

.main-menu .navbar-collapse {
  padding: 0px;
}

.main-menu .navigation {
  position: relative;
  margin: 0px;
}

.main-menu .navigation > li {
  position: relative;
  list-style-type: none;
  float: left;
  margin-right: 40px;
  margin-bottom: 0;
}

.main-menu .navigation > li:last-child {
  margin-right: 0px;
  /*background: #5f317c;/*#6B8D1F;/*#5f317c; /*#6a9c07;/*#5397b9;			/*Member Login box on Menu Bar*/
  /*border-radius: 20px;
	padding-left: 15px;
	padding-right: 15px;
	/*border: 1px solid #ccc;
	padding-top:1px;*/
}

.main-menu .navigation > li:last-child a:hover {
  color: #6a9c07 !important; /*#2b2e83!important;*/
  font-weight: 500;
}
.main-menu .navigation > li > a {
  padding-bottom: 10px; /* Adjust this value to manage the space within the navigation links */
}

.main-menu {
  margin-bottom: 0; /* Ensure no bottom margin is causing additional space */
}

.header-lower {
  padding-bottom: 0; /* Adjust padding to reduce space at the bottom of the navigation bar */
}

/* Clear any floats if necessary */
.header-lower::after {
  content: "";
  display: table;
  clear: both;
}
.main-menu .navigation > li > a {
  text-decoration: none; /* Removes underline from all links in the navigation */
}

.main-menu .navigation > li > ul > li > a {
  text-decoration: none; /* Removes underline from dropdown links */
}

.main-menu .navigation > li > a {
  position: relative;
  display: block;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  opacity: 1;
  padding: 13px 0; /*Changes thickness of menu bar*/
  text-transform: uppercase;
  transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

.main-menu .navigation > li:hover > a {
  color: #6a9c07 !important; /*Hover & Current effects - Main Menu.*/
  font-weight: 700;
  /*border-bottom: 3px solid #fff;*/
}

.main-menu .navigation > li.current > a {
  color: #fff;
  opacity: 1; /*Creates underline on current item*/
  border-bottom: 3px solid #fff;
}

.main-menu .navigation > li.current:before
/*.main-menu .navigation > li:hover:before*/ {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0px; /*Creates arrow on current item*/
  left: 50%;
  margin-left: -4px;
  border: 6px solid #5397b9;
  border-width: 6px;
  border-bottom: 8px solid #fff;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
}

.main-menu .navigation > li:last-child: hover {
  /*???*/
  background: #2b2e83;
}

.main-menu .navigation > li:hover > a:after {
  opacity: 1;
}

.main-menu .navigation > li > ul > li.dropdown:hover > a:after,
.main-menu .navigation > li > ul > li > ul > li:hover > a,
.main-menu .navigation > li:hover > a,
.main-menu .navigation > li.current > a,
.main-menu .navigation > li.current-menu-item > a {
  color: #ffffff;
}

/******Main Menu Drop Down Menu******/

.main-menu .navigation > li > ul {
  position: absolute;
  list-style-type: none;
  left: 0px;
  top: 120%;
  width: 200px;
  z-index: 100;
  opacity: 0;
  background-color: #643482;
  visibility: hidden;
  padding: 0px 0px;
  /*border-top:1px solid #fff;*/
  -webkit-box-shadow:
    2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  -ms-box-shadow:
    2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  -o-box-shadow:
    2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow:
    2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  box-shadow:
    2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
}

.main-menu .navigation > li > ul.from-right {
  left: auto;
  right: 0px;
}

.main-menu .navigation > li > ul > li {
  position: relative;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-menu .navigation > li > ul > li:last-child {
  border-bottom: none;
}

.main-menu .navigation > li > ul > li > a {
  position: relative;
  display: block;
  padding: 9px 25px;
  line-height: 24px;
  font-weight: 500;
  background-color: #643482; /*rgba(255,255,255,0.05);*/
  font-size: 16px;
  color: #ffffff; /*drop down secondary menu*/
  text-align: left;
  margin-left: 5px; /*margin-left: 5px puts a space beside secondary menu itesm to show better on cell*/
  margin-right: 5px;
  text-transform: capitalize;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.main-menu .navigation > li > ul > li:hover > a {
  color: #fff;
  background-color: #6a9c07;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*** End Drop Down Menu ***/

.main-menu .navigation > li > ul > li.dropdown > a:after {
  font-family: "FontAwesome";
  content: "\f105";
  position: absolute; /*Dropdown arrow on menu bar for secondary items*/
  right: 10px;
  top: 12px;
  width: 10px;
  height: 20px;
  display: block;
  line-height: 21px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  z-index: 5;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.main-menu .navigation > li > ul > li > ul {
  position: absolute;
  left: 100%;
  top: 20px;
  width: 250px;
  z-index: 100;
  background-color: #6a9c07; /*????*/
  opacity: 0;
  visibility: hidden;
  border-top: 3px solid rgba(0, 0, 0, 0.8);
  -webkit-box-shadow:
    2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  -ms-box-shadow:
    2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  -o-box-shadow:
    2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow:
    2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  box-shadow:
    2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
}

.main-menu .navigation > li > ul > li > ul > li {
  position: relative;
  width: 100%; /*????*/
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-menu .navigation > li > ul > li > ul > li:last-child {
  border-bottom: none;
}

.main-menu .navigation > li > ul > li > ul > li > a {
  position: relative;
  display: block;
  padding: 11px 25px;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.05);
  color: #ffffff;
  text-align: left;
  text-transform: capitalize;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.main-menu .navigation > li > ul > li > ul > li:hover > a {
  padding-left: 30px;
  background-color: rgba(255, 255, 255, 1);
}

.main-menu .navigation > li.dropdown > a {
  padding-right: 15px !important;
}

.main-menu .navigation > li.dropdown > a:after {
  font-family: "FontAwesome";
  content: "\f107";
  position: absolute;
  right: 0px; /*Creates down arrow on menu bar for seconardy menu*/
  top: 50%;
  margin-top: -14px;
  width: 10px;
  height: 30px;
  display: block;
  line-height: 30px;
  font-size: 14px;
  font-weight: normal;
}

.main-menu .navigation > li.dropdown:hover > ul {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.main-menu .navigation li > ul > li.dropdown:hover > ul {
  visibility: visible;
  opacity: 1;
  left: 100%;
  top: 0px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.main-menu .navigation li.dropdown .dropdown-btn {
  position: absolute;
  right: 10px;
  top: 6px;
  width: 34px;
  height: 30px;
  border: 1px solid #ffffff;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  cursor: pointer;
  z-index: 5;
  display: none;
}

.main-header .search-box {
  position: relative;
  z-index: 12;
  float: right;
}

.main-header .search-box .form-container {
  position: relative;
  width: 260px;
  padding: 15px 0px;
}

.main-header .search-box .form-container .form-group {
  position: relative;
  margin: 0px;
}

.main-header .search-panel .search-btn {
  color: #6a9c07;
}

.form-control:focus {
  outline: none !important;
  border-color: #6a9c07;
}

.main-header .search-box .form-container input[type="text"],
.main-header .search-box .form-container input[type="search"],
.main-header .search-box .form-container input[type="password"],
.main-header .search-box .form-container select {
  display: block;
  width: 100%;
  background: none;
  outline: none;
  color: #ffffff;
  height: 40px;
  padding: 7px 20px;
  line-height: 24px;
  border: 1px solid #ffffff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.main-header .search-box .form-container input:focus,
.main-header .search-box .form-container select:focus {
  outline: none !important;
}

.main-header .search-box .form-container .search-btn,
.main-header .outer-box .form-container .search-btn {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 45px;
  height: 40px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  background: none;
  cursor: pointer;
  line-height: 20px;
  padding: 10px 0;
}

/*====================================================================
					 Sticky Header
=====================================================================*/
.sticky-header {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  left: 0px;
  top: 0px;
  width: 100%;
  padding: 0px 0px;
  background: #ffffff;
  z-index: 0;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.sticky-header .logo {
  padding: 10px 0px 10px;
}

.fixed-header .sticky-header {
  z-index: 999;
  opacity: 1;
  visibility: visible;
  -webkit-box-shadow: 0px 6px 15px 0px rgba(246, 246, 246, 0.6);
  -moz-box-shadow: 0px 6px 15px 0px rgba(246, 246, 246, 0.6);
  box-shadow: 0px 6px 15px 0px rgba(246, 246, 246, 0.6);
  background-color: #ffffff;
  -ms-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -op-animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -ms-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -op-animation-duration: 500ms;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -ms-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -op-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -ms-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -op-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.main-header .sticky-header .main-menu .navigation > li {
  margin-right: 0px;
  margin-left: 5px;
}

.main-header .sticky-header .main-menu .navigation > li > a {
  color: #333333;
  padding: 15px 15px !important;
  line-height: 30px;
  font-size: 16px;
  font-weight: 600;
  min-height: 0px;
  background: none;
  border: 0px;
  margin-right: 0px;
  text-transform: capitalize;
}

.main-header .sticky-header .main-menu .navigation > li:hover > a,
.main-header .sticky-header .main-menu .navigation > li.current > a,
.main-header .sticky-header .main-menu .navigation > li.current-menu-item > a {
  opacity: 1;
  background-color: #6a9c07;
  color: #ffffff;
}

.main-header .sticky-header .main-menu .navigation > li.dropdown > a::after {
  display: none;
}
/* MEDIA QUERIES */
@media (max-width: 66em) {
  .main-menu .navigation > li > a {
    font-size: 1.4rem;
  }
  .main-menu .navigation > li {
    margin-right: 10px; /* Reduce the right margin to decrease the gap */
    padding: 0 5px; /* Optional: Adjust padding to fine-tune spacing */
  }
}
@media (max-width: 59em) {
  .btn-mobile-nav {
    display: block;
  }
  .main-menu {
    background-color: #2222226b;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.8rem;
  }
}
