.program-details {
  padding: 7.4rem 0;
  height: 100vh;
}
.product {
  max-width: 130rem;
  margin: 0 auto;
  align-items: center;
  gap: 1.2rem;
}
.product-img {
  width: 70%;
  margin-bottom: 2rem;
}
.product-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 3.2rem;
}
.product-availability {
  font-size: 1.4rem;
  margin-bottom: 1.6rem;
  font-weight: 700;
}
.product-length {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.product-price {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  font-weight: bold;
}
.btn-details {
  width: auto;
}
.detailed-cart {
  margin-right: 3rem;
}
@media (max-width: 84em) {
  .product-description {
    font-size: 1.8rem;
    line-height: 1.2;
  }
  .product-img {
    width: 60%;
  }
}
@media (max-width: 74em) {
  .product {
    gap: 0.8rem;
  }
  .heading-primary {
    font-size: 2.4rem;
  }
  .product-description p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
}

/* BELOW 1024px */
@media (max-width: 64em) {
}
@media (max-width: 44em) {
  .product {
    grid-template-columns: repeat(1, 1fr);
  }
  .product-image-box {
    text-align: center;
  }
  .product-img {
    width: 50%;
    padding: 0 2rem;
  }

  .product-details-box {
    text-align: center;
    padding: 0 2rem;
  }
}

@media (max-width: 36em) {
  .heading-primary {
    font-size: 2.2rem;
  }
  .product-description p {
    font-size: 1.4rem;
  }
}
@media (max-width: 33em) {
}
