/* - FONT SIZES (px)

10/ 12 / 14 / 16 / 18 / 20 /24 / 30 / 36 / 44 /52 / 62 / 74 / 86 / 98

---02 COLORS
--GREYS
#555
#333

--BORDER RADIUS
Default: 9px
Medium: 11px

--SHADOWS
0 2.4rem 4.8rem rgba(0, 0, 0, 0.075)
*/

/* REUSABLES */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.auto-container {
  position: static;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}
.grid {
  display: grid;
  gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}
.btn--full {
  width: 100%;
  color: #fff;
  background-color: #643482;
}
.btn--full:hover {
  background-color: #6a9c07;
}
.btn {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
  margin: 0 auto;
}
.heading-secondary {
  font-size: 2.2rem;
  line-height: 1.2;
  margin-bottom: 6.2rem;
  color: #fff;
}
.margin-right-sm {
  margin-right: 1.6rem !important;
}
.margin-bottom-md {
  margin-bottom: 4.8rem;
}

@media (max-width: 75em) {
  .grid {
    gap: 3.6rem;
  }
}
/* BELOW 1024px */
@media (max-width: 64em) {
  /* .container {
    max-width: 70rem;
  } */
  .grid {
    gap: 2.6rem;
  }
}

@media (max-width: 49em) {
  .container {
    padding: 0 6.2rem;
  }
  .grid {
    gap: 1.2rem;
  }
}
