.section-thank {
  height: 100vh;
}
.cta-image-box-thankyou {
  background-image: linear-gradient(
      to right bottom,
      rgba(132, 94, 156, 0.35),
      rgba(100, 52, 130, 0.35)
    ),
    url(../images/checkout.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
}
.thankyou-message {
  text-align: center;
  font-size: 4rem;
  margin-top: 6rem;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
}
.thankyou-info {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
.program-navigation {
  text-align: center;
  font-size: 2rem;
}

@media (max-width: 40em) {
  .thankyou-message {
    font-size: 3rem;
  }
}
