html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 3.6rem;
  overflow-y: auto;
}

.section-programs {
  padding: 3.6rem;
  /* Removed height: 100vh; to allow the section to grow */
}

.shop-section {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  gap: 3.6rem;
  padding: 4rem 2rem;
}

.shop-text-box {
  position: -webkit-sticky;
  position: sticky;
  top: 10rem;
  background-color: #fff;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  padding: 1rem;
  text-align: center;
  margin-top: 2rem;
  height: 40rem;
  border-radius: 1rem;
}

.icons {
  align-items: center;
}

.header-cart {
  font-size: 2rem;
}

.logout-btn {
  background-color: rgb(173, 31, 31);
  padding: 1rem 1rem;
  color: #fff;
  border-radius: 1rem;
}

.logout-btn:hover {
  background-color: rgb(211, 44, 44);
}

.btn--purple {
  background-color: #643482;
  padding: 1rem 1rem;
  color: #fff;
  border-radius: 1rem;
  transition: all 0.3s;
}

.btn--purple:hover {
  background-color: #6a9c07;
}

.btn--dark-purple {
  background-color: #4a2263;
  color: #fff;
  transition: all 0.3s;
}

.btn--dark-purple:hover {
  background-color: #602d80;
}

.heading-primary {
  font-size: 3.6rem;
  line-height: 1.6;
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.shop-list {
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

h3.shop-list + a {
  display: inline-block;
  font-weight: bold;
  font-size: 1.8rem;
  text-decoration: none;
}
.shop-link {
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}
.shop-link-faves {
  font-size: 1.6rem;
  font-weight: bold;
  color: #551a8b;
  text-decoration: none;
  margin-bottom: 2rem;
}

/* If needed, you can add hover effects */
.shop-link:hover {
  text-decoration: underline; /* Add underline on hover */
  color: #643482; /* Change color on hover */
}

/* Target the specific links */
.first-link {
  margin-bottom: 1rem;
}

.second-link {
  display: inline-block;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-decoration: none;
  font-weight: bold;
}

.third-link {
  display: inline-block;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-decoration: none;
  font-weight: bold;
}

.program-img {
  object-fit: contain;
  max-width: 100%;
  height: auto;
}

.shop-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.program {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  height: 100%;
}

.program-content {
  padding: 2rem 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.program-title {
  font-size: 2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
  height: 4rem;
}

.button-container .details {
  margin-bottom: 1rem;
}

.program-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-grow: 1;
  overflow: auto;
}

.program-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.6rem;
}

.program-icon {
  height: 2rem;
  width: 2rem;
  flex-shrink: 0;
  flex-grow: 0;
}

.button-container {
  text-align: center;
  margin-top: auto;
}

.program-price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 1rem;
  font-weight: 700;
}

.header-cart {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.cart-link {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.cart-badge {
  display: flex;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  position: absolute;
  bottom: 1.2rem;
  right: -0.8rem;
  justify-content: center;
  align-items: center;
}

.fa-shopping-cart {
  font-size: 24px;
  text-decoration: none;
}

.icons {
  display: flex;
  justify-content: space-between;
}

.dashicons {
  margin: 1.5rem 1rem;
  font-size: 2.5rem;
  cursor: pointer;
}

/* .dashicons:hover {
  font-size: 2.8rem;
} */

.product-quantity {
  margin: 1.2rem 1rem;
  font-size: 2.5rem;
}

.icons a.add_to_cart,
.icons a.remove_from_cart {
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  font-size: 3.2rem;
}

.icons a.add_to_cart:hover,
.icons a.remove_from_cart:hover {
  font-size: 3.4rem;
}

.empty-cart {
  font-size: 2.8rem;
  text-align: center;
}

/* New Styles for My Programs Link */
/* New Styles for My Programs Link */
.my-programs-access {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-programs {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  color: #fff;
  background-color: #28133a;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 50%;
}

.my-programs:hover {
  background-color: #3c2154; /* Darker shade for hover effect */
}

.my-programs-icon {
  margin-right: 8px; /* Space between icon and text */
  font-size: 1.8rem;
  vertical-align: middle;
}

.btn.btn--small.login-btn,
.btn.btn--small.signup-btn {
  font-size: 1.4rem;
  padding: 1.4rem;
  width: 10rem;
  height: 4rem;
  text-align: center;
  margin-top: 2rem;
  cursor: pointer;
}

/* Media queries */
/* BELOW 1344px --smaller desktops */
@media (max-width: 84em) {
  .shop-section {
    max-width: 120rem;
  }
  .heading-primary {
    font-size: 3.2rem;
  }
  .btn.btn--small.btn--purple.login-btn,
  .btn.btn--small.btn--purple.signup-btn {
    font-size: 1.4rem;
    width: 8rem;
  }
  .program-title {
    font-size: 1.8rem;
  }
}

@media (max-width: 74em) {
  .program-title {
    font-size: 1.8rem;
  }
  .heading-primary {
    font-size: 2.8rem;
  }
  .shop-list h3 {
    font-size: 1.8rem;
  }
  .program-title {
    font-size: 1.8rem;
  }
  .program-price {
    font-size: 1.8rem;
  }
  .icons a.add_to_cart {
    font-size: 2.8rem;
  }
  .product-quantity {
    font-size: 2.4rem;
  }
}

/* BELOW 1024px */
@media (max-width: 64em) {
  html {
    font-size: 50%;
  }
  .shop-items {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .shop-section {
    max-width: 100rem;
    grid-template-columns: 0.5fr 1fr;
  }
}

@media (max-width: 49em) {
  .program-title {
    font-size: 2rem;
    margin-bottom: 1.8rem;
  }
  .program-price {
    font-size: 1.8rem;
  }
  .icons a.add_to_cart {
    font-size: 2rem;
  }
  .button-container .details {
    font-size: 1.2rem;
    padding: 1rem 1rem;
  }
  .section-programs {
    padding: 1.6rem;
  }
  .btn.btn--small.btn--purple.login-btn,
  .btn.btn--small.btn--purple.signup-btn {
    padding: 0.8rem 0.8rem;
    width: 7rem;
    font-size: 1.2rem;
  }

  .btn.btn--small.signup-btn {
    padding: 0.8rem 0.8rem;
    width: 7rem;
    font-size: 1.2rem;
  }
  .heading-primary {
    font-size: 2.4rem;
  }
  .shop-list {
    font-size: 1.8rem;
  }
  .my-programs {
    width: 70%;
  }
}
@media (max-width: 49em) {
  .section-programs {
    padding: 1.2rem;
  }
  .shop-items {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .shop-section {
    grid-template-columns: 0.5fr 1fr;
    gap: 1.6rem;
    padding: 4rem 2rem;
  }
}
@media (max-width: 36em) {
  .main-content {
    padding: 1.6rem;
  }
  .heading-primary {
    font-size: 2rem;
  }
  h3.shop-list {
    font-size: 1.4rem;
  }
  .first-link {
    font-size: 1rem;
  }

  .second-link {
    font-size: 1rem;
  }

  .third-link {
    font-size: 1rem;
  }
  .btn.btn--small.btn--purple.login-btn {
    font-size: 1rem;
    margin-top: 5rem;
    padding: 1rem 1rem;
  }
  .btn.btn--small.signup-btn {
    font-size: 1rem;
  }
  .container {
    padding: 0 4.2rem;
  }
  .shop-section {
    gap: 1rem;
  }
  .my-programs {
    width: 80%;
  }
}
@media (max-width: 33em) {
  .shop-text-box {
    position: relative;
    margin-bottom: 10rem;
  }
  .shop-items {
    grid-template-columns: 1fr !important;
    margin-top: 6rem;
  }
  .shop-section {
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }
  .heading-primary {
    font-size: 2.4rem;
  }
  h3.shop-list {
    font-size: 1.4rem;
  }
  .btn.btn--small.btn--purple.login-btn,
  .btn.btn--small.signup-btn {
    font-size: 2rem;
    padding: 1rem 2rem; /* Padding of 2rem from each side */
    width: 60%;
    box-sizing: border-box; /* Ensure padding is included in the width */
  }
  .heading-primary {
    font-size: 3.4rem;
  }
  h3.shop-list {
    font-size: 1.8rem;
  }
  p.program-title {
    font-size: 2rem;
    text-align: center;
  }
  .program-price {
    font-size: 2rem;
  }
  .icons a.add_to_cart {
    font-size: 2.8rem;
  }
  icons a.remove_from_cart {
    font-size: 2.8rem;
  }
  .button-container .details {
    padding: 2rem 1rem;
    font-size: 1.8rem;
  }
  .my-programs {
    width: 50%;
  }
}
